html, body{
    margin: 0 auto;
    padding: 0;
    font-size:62.5%; 
}
body{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #edeeef;
    
}
a{
    font-style: none;
    text-decoration: none;
    color:#ffffff;
    
}

a:hover{
    text-decoration: underline;
}

header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40rem;
    background-color: #5a6d95 ;
    position: relative;
    line-height:0;
}

    
}
header>a>img{
    margin:0 auto;
    width: 24.3rem;
    height: 8rem; 
    padding: 0;    
}
#bird{
    margin-left: 14rem;
}

hr{
    color: #fff;
    height:5rem;
    opacity: 0.5%;
}
header>nav{
    width: 100%;
    margin-left: 260px; 
    text-align: center;

}
header>nav>ul{
    list-style: none;
    display: inline-block;
    width: 100%;
    margin: auto 0;
    padding:0;
    
}
header>nav>ul>li{
    margin: 0;
    padding: 15px;
    display: inline-block;
    text-transform: capitalize;
    font-size:1.7rem;
    color: #ffffff; 
}
#anchor1{

    color:#fff;
}
main{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #edeeef;
    box-sizing: border-box;
    position: relative;
    background: transparent;
    top: -198px;
}
.intro{
    width: 100%;
    position:relative;
    text-align: center;
    background-color: #fff;
    letter-spacing: 1.8px;
    
}
#sec_text{
    margin: 0 auto;
    padding: 0;
    width: 99%;
    height: 4rem;
    text-transform: uppercase;
    font-size: 30px;
    background-color:#e1e1e1;
    color:#898989;
    text-align: center;
    border: solid #fff 4px;
    position: relative;
}

#image1{
    background-color: #e1e1e1;
    box-shadow: 15px;
    width: 98%;
    border: solid #fff 5px;
    position: relative;
    top: -13px;
    
}

#body{
    margin-bottom: 10px;
    padding: 40px;
    background-color: #edeeef;
    border: solid #fff;
    width: 92%;
    height: 250px;
}

#body_image{
    margin: auto 0;
    padding: 15px;
    width: 30%;
    height: 100%;
    float: left;
   
}
#p1{
    margin: auto 0;
    padding: 28px;
    width: 60%;
    height: 100%;
    float: right;
    font-size: 15px;
    text-align: center;
    
}
.conclu{
    width: 100%;
    
}
#anchor2{
    color:#898989;
}
section>nav{
    width: 100%;
    margin: auto;
    text-align: center;
    height: 50px;
}
section>nav>ul{
    list-style: none;
    display: inline-block;
    width: 100%;
    margin: auto 0;
    padding:5px;
}
section>nav>ul>li{
    margin: 0;
    padding: 15px;
    display: inline-block;
    text-transform: capitalize;
    font-size:2rem;
    color: #898989;

}
#anchor2{
    color:#898989;
}
footer{
    width: 80%;
    height: 5rem;
    margin: auto;
    padding: 15px;
    display: block;
    box-sizing: border-box;
    background-color: #5a6d95;
    color: #fff;
    text-align: center;

}
span{
    display: block;
    font-size: 1.3rem
    
}
